:root{
    --light-background-color:#ffffff;
    --dark-background-color:#26335D;
    --primary-color:#FC724D;
    --secondary-color-1:#FFC652;
    --secondary-color-3:#2435A1;
    --danger-color:#E74040;
    --alert-color:#E77C40;
    --muted-color:#BDBDBD;
    --light-gray-1:#FAFAFA;
    --light-gray-2:#ECECEC;
    --success-color:#2DC071;
    --hover-color:#2A7CC7;
    --light-text-color:#ffffff;
    --secondary-text-color:#737373;
    --text-color:#252B42;
    --faded-primary-color:#F9FDFF;
    --faded-secondary-color-1:#DDEEFE;
    --faded-secondary-color-2:#B6D7FF;
    --disabled-element-color:#8EC2F2;
    --fs-58px:58px;
    --fs-40px:40px;
    --fs-24px:24px;
    --fs-20px:20px;
    --fs-16px:16px;
    --fs-14px:14px;
    --fs-12px:12px;
    --fw-bold:700;
    --fw-regular:400;
    --main-section-padding: 90px 0;
}